.loader {
	margin-top: 300px;
	margin-bottom: 300px;
	display: flex;
	align-items: center;
	justify-content: center;

	h2 {
		font-size: 16px;
		font-weight: 500;
	}

	img {
		margin-left: 20px;
		width: 36px;
		animation: rotate 2s infinite linear;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}
}
