.card {
	background: #383d46;
	overflow: hidden;
	padding: 5px;
	height: 300px;
	width: 200px;
	box-shadow: 0px 10px 10px #00000071;

	h2 {
		color: #ffffff;
		text-align: center;
		padding: 6px 0px;
		font-weight: 500;
		background: rgba(35, 37, 42, 1);
	}

	img {
		filter: brightness(100%);
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	&:hover {
		transform: translateY(-10px) perspective(500px) rotateX(10deg) scale(125%);
		z-index: 10;
		box-shadow: 0px 20px 15px #00000071;
		transition: 0.5s ease-in-out;

		img {
			transition: 0.2s ease-in-out;
			filter: brightness(120%);
		}
	}
	&:active {
		img {
			transition: 0.05s ease-in-out;
			filter: brightness(150%);
		}
	}
}
