.button {
	padding: 0px 20px;
	height: 100%;
	background: #383d46;
	border-left: #474c57 1px solid;
	border-bottom: #4b5364 1px solid;
	box-shadow: 0px 10px 10px #0000002a;	
	cursor: pointer;
	transition: 0.15s ease-in-out;

	h2 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-size: 18px;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background: #4b5364;
		border-bottom: #ffffff 1px solid;
	}

	&:active {
		h2 {
			text-decoration: #ffe600 1px underline;
		}
		background: #282b31;
		box-shadow: 0px 0px 10px #0000002a;
		border-bottom: #4b5364 1px solid;
	}
}
